header {
   border_bottom: solid 2px rgb(0,0, 139);
  padding: 20px;
  font-size: 48px;
  color: rgb(143, 0, 255);   
}

body { 
color:black; 
backgroud:white;
}
section {
background: rgb (010, 101, 001);
padding-bottom: 80px;
padding-top: 80px;
display: flex;
justify-content: center;
}
.chamada-texto{
   margin-right:5%;
}
